// Bulma variable overrides
@import "~bulma/sass/utilities/initial-variables"

$kaldi-red: #D64000
$kaldi-red-invert: #fff
$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523
